<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div id="container">
    <div id="backLayer" />
    <div id="midLayer" />
    <div id="frontLayer" />
    <button id="button" onclick="permissionHandler()">START</button>
  </div>
  <style>

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5A5A5A;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
  }

#container {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 1000px;
  max-width: 500px;
  overflow: hidden;
}

#frontLayer {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 110%;
  width: 110%;
  background-size: contain;
  background-position: bottom;
  box-sizing: border-box;
}

#midLayer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: bottom;
  box-sizing: border-box;
}

#backLayer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: bottom;
  box-sizing: border-box;
}

button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 10%;
  width: auto;
  height: 40px;
  padding: 0 48px;
  transition: all 200ms cubic-bezier(0.2, 0, 0, 1);
  border: 0;
  border-radius: 8px;
  background-color: #28292a;
  color: #e3e3e3;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
  letter-spacing: 2px;
  font-size: 14px;
}

button::hover {
  background-color: #062e6f;
}


  </style>
  <script>

const container = document.getElementById('container');
const frontLayer = document.getElementById('frontLayer');
const midLayer = document.getElementById('midLayer');
const backLayer = document.getElementById('backLayer');
const button = document.getElementById('button');

let isDragging = false;
let currentX;
let currentY;
let initialX;
let initialY;
let xOffset = 0;
let yOffset = 0;
let granted = false;
let scene = 'one';

const maxAmount = 0.02
const midLayerOffset = 0.4;
const backLayerOffset = midLayerOffset * 2;
const sensitivity = 1;

  if (!granted) {
    button.style.display = 'block';
  } else {
    button.style.display = 'none';
  }

const frontImage = (lit) => `/assets/${scene}/front-${lit ? 'lit' : 'unlit'}.png`;
const midImage = (lit) => `/assets/${scene}/mid-${lit ? 'lit' : 'unlit'}.png`;
const backImage = (lit) => `/assets/${scene}/back-${lit ? 'lit' : 'unlit'}.png`;

const dragStart = (e) => {
  initialX = e.clientX - xOffset;
  initialY = e.clientY - yOffset;
  isDragging = true;
};

const dragEnd = (e) => {
  initialX = currentX;
  initialY = currentY;
  
  isDragging = false;
};

const drag = (e) => {
  if (isDragging) {
    e.preventDefault();
    currentX = e.clientX - initialX;
    currentY = e.clientY - initialY;

    const maxDrag = container.offsetWidth * maxAmount; 
    if (Math.abs(currentX) > maxDrag || Math.abs(currentY) > maxDrag) return;
    xOffset = currentX;
    yOffset = currentY;
    console.log({currentX, currentY})
    setTranslate(currentX, currentY, frontLayer);
    setTranslate(currentX * midLayerOffset, currentY * midLayerOffset, midLayer);
    setTranslate(currentX * backLayerOffset, currentY * backLayerOffset, backLayer);
  }
};

const handleOrientation = (event) => {
  const { beta, gamma } = event;
  currentX = gamma >= 8 ? 8 : gamma <= -8 ? -8 : gamma;
  currentY = beta - 60 >= 8 ? 8 : beta - 60 <= -8 ? -8 : beta - 60;
  setTranslate(currentX, currentY, frontLayer);
  setTranslate(currentX * midLayerOffset, currentY * midLayerOffset, midLayer);
  setTranslate(currentX * backLayerOffset, currentY * backLayerOffset, backLayer);
}

frontLayer.addEventListener("mousedown", dragStart);
frontLayer.addEventListener("mouseup", dragEnd);
frontLayer.addEventListener("mousemove", drag);
window.addEventListener("deviceorientation", handleOrientation);

const setBackgroundImage = (elm, imageUrl) => {
  elm.style.backgroundImage = `url(${imageUrl})`;
};

const setTranslate = (xPos, yPos, el) => {
  el.style.transform = `translate3d(${xPos}px, ${yPos}px, 0)`;
};

const startFlicker = () => {
  setInterval(flicker, Math.random() * 1000 + 100);
};

const flicker = () => {
  const lit = Math.random() >= 0.5;
  const numFlickers = Math.floor(Math.random() * 4) + 1; 
  for (let i = 0; i < numFlickers; i++) {
    setTimeout(changeColor, Math.random() * 1000 + 100, lit); 
  }
};

const changeColor = (lit) => {
  setBackgroundImage(frontLayer, frontImage(lit));
  setBackgroundImage(backLayer, backImage(lit));
};

const permissionHandler = () => {
  if (typeof DeviceOrientationEvent.requestPermission === 'function') {
    DeviceOrientationEvent.requestPermission()
      .then((permissionState) => {
        if (permissionState === 'granted') {
          window.addEventListener('deviceorientation', handleOrientation);
          button.style.display = 'none';
        } else {
          window.alert('Request to access the orientation was rejected');
        }
      })
      .catch(console.error);
  } else {
    window.addEventListener('deviceorientation', handleOrientation);
    button.style.display = 'none';
  }
}


  startFlicker();
  </script>
</body>
</html>
